
########################
# Credential to connect to Nuxeo

NXUSER=$NXUSER 
NXPWD=$NXPWD 

########################
# MongoDB credentials - the same is used for all servers

MONGOUSER=$MONGOUSER
MONGOPWD=$MONGOPWD

MONGO_DEFAULT_SERVER=
MONGO_EAST_SERVER=
MONGO_WEST_SERVER=
MONGO_ARCHIVE_SERVER=


MONGO_DEFAULT_DBNAME=nuxeo
MONGO_EAST_DBNAME=nuxeo
MONGO_WEST_DBNAME=nuxeo
MONGO_ARCHIVE_DBNAME=nuxeo

########################
# Kafka

KAFKA_BOOTSTRAP=

KAFKA_ZK=

KAFKA_TRUSTSTORE_LOCATION=/nxbench/nuxeo-conf/KeyStore/kafka.client.truststore.jks
KAFKA_TRUSTSTORE_PWD=

########################
# ES

ES_SERVER=





